* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: radial-gradient(rgb(0, 255, 255), rgba(139, 235, 86, 0.827) 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.quote-box {
    background: #fff;
    max-width: 700px;
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: #333;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #333;
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background-color: rgba(74, 74, 74, 0.5);
    color: #fff;
    border-radius: 5px;
    border: 1px solid #333;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quote-box button:hover {
    background-color: #76e65e;
    color: white;
}
